@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&family=Noto+Serif:wght@700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

html {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  min-height: 100%;
  font-family:
    'Merriweather Sans',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.container-fluid {
  max-width: 80%;
}

.btn-like,
.btn-unlike {
  padding: 0.4em 0.8em;
  margin: 1em;
  position: absolute;
  right: 0;
}

.btn-submit {
  margin-top: 1em;
}

.btn-block {
  width: 100%;
}

.btn-like:hover,
.btn-unlike {
  background-color: #ec5200;
}

.btn-unlike:hover,
.btn-like {
  background-color: lightgray;
}

.material-icons {
  color: gray;
  vertical-align: middle;
}

.btn-unlike .material-icons {
  color: #fff;
}

.footer {
  background-color: #fff;
  color: #c2c4c6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 5em 0;
}
